#navbar {
    background: rgb(235,225,111);
    background: linear-gradient(90deg, rgba(235,225,111,1) 4%, rgba(83,209,159,1) 94%, rgba(73,208,162,1) 100%, rgba(56,206,167,1) 100%, rgba(38,204,173,1) 100%, rgba(15,201,180,1) 100%);
}


#itemsli {
    margin-left: 90px;
    margin-right: 50px;
    border: 1px solid;
    border-radius: 7px;
    background-color: black;
}


#sizeli {
    border: 1px solid;
    border-radius: 7px;
    background-color: black;
}